{% extends "base.html" %}

{% load static %}

{% block title %}
     Future Option Trade-About
{% endblock title %}

{% block content %}

    <main>
        <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height2 hero-overly2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 text-center">
                                <h2>About Us</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <div class="about-details section-padding30">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-1 col-lg-8">
                        <div class="about-details-cap mb-50">
                            <h4>Our Mission</h4>
                            <p>Your wealth is more than a sum of investments. It can be a powerful tool for improving the world around you. We help our clients crystallize and prioritize the environmental and social issues they care about most and develop a plan that allows their wealth to positively influence them. We call this intersection between your financial and non-financial objectives sustainable investing.
                             </p>
                             <p> The belief that wealth can simultaneously achieve both desired financial outcomes and positive societal change is deeply embedded in our culture. The Laird and Norton families who founded our firm were pioneers in sustainable investing, who now steer nearly 100% of their family foundation’s investments toward impact-related funds and projects. We apply the successes and lessons they learned along the way to our clients’ own sustainable investment aspirations. </p>
                        </div>

                        <div class="about-details-cap mb-50">
                            <h4>Our Vision</h4>
                            <p>At Laird Norton Wealth Management, we are advocates and stewards for your life, your wealth and your legacy. Our integrated approach brings together the brightest minds in each aspect of wealth management: financial and tax planning; investment management; trust and estate planning.
                             </p>
                             <p>  Your advisory team is here to serve you in all aspects of your financial life – from cash flow planning to serving as your trustee. Knowing you is key to the success of your plan.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--? About Area Start-->
        <div class="support-company-area pt-100 pb-100 section-bg fix" data-background="{%static './assets/img/gallery/section_bg02.jpg'%}">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="support-location-img">
                            <img src="{%static './assets/img/gallery/about.png'%}" alt="">
                        </div>
                    </div>
                   <div class="col-xl-6 col-lg-6">
                    <div class="right-caption">
                        <!-- Section Tittle -->
                        <div class="section-tittle section-tittle2 mb-50">
                            <span>Our Top Services</span>
                            <h2>Our Best Services</h2>
                        </div>
                        <div class="support-caption">
                            <p class="pera-top">Envision a more complete strategy for your life and wealth. From your immediate needs, to your lifetime goals, and the legacy you leave, how you think about your wealth touches every part of your life. We can help you see your big picture and set your course, with expertise in wealth planning, investment management, trust services, and more. </p>
                            <p class="mb-65">Each aspect of wealth management we provide is essential in helping you realize your vision of family, of community, and of your world. We can help you simplify, clarify, and bring your ideals to life. We call this Wealth Regeneration®—a more human, more integrated take on your financial life. Find out more about How We Help..</p>
                            <a href="about.html" class="btn post-btn">More About Us</a>
                        </div>
                    </div>
                </div>

                </div>
            </div>
        </div>
        <!-- About Area End-->
        <!-- Team Start -->
        <div class="team-area section-padding30">
            <div class="container">
                <div class="row">
                    <div class="cl-xl-7 col-lg-8 col-md-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle mb-70">
                            <span>Our Professional members </span>
                            <h2>Our Team Mambers</h2>
                        </div> 
                    </div>
                </div>
                <div class="row">
                    <!-- single Tem -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{%static './assets/img/gallery/team2.png'%}" alt="">
                            </div>
                            <div class="team-caption">
                                <h3><a href="#">Ethan Welch</a></h3>
                                <span>UX Designer</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{%static './assets/img/gallery/team3.png'%}" alt="">
                            </div>
                            <div class="team-caption">
                                <h3><a href="#">Ethan Welch</a></h3>
                                <span>UX Designer</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{%static './assets/img/gallery/team1.png'%}" alt="">
                            </div>
                            <div class="team-caption">
                                <h3><a href="#">Ethan Welch</a></h3>
                                <span>UX Designer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->
       
        <!-- Coun Down End -->
        <!-- Brand Area Start -->
        <div class="brand-area pt-150 pb-140">
            <div class="container">
                <div class="brand-active brand-border pb-40">
                    <div class="single-brand">
                        <img src="{%static './assets/img/gallery/brand1.png'%}" alt="">
                    </div>
                    <div class="single-brand">
                        <img src="{%static './assets/img/gallery/brand2.png'%}" alt="">
                    </div>
                    <div class="single-brand">
                        <img src="{%static './assets/img/gallery/brand3.png'%}" alt="">
                    </div>
                    <div class="single-brand">
                        <img src="{%static './assets/img/gallery/brand4.png'%}" alt="">
                    </div>
                    <div class="single-brand">
                        <img src="{%static './assets/img/gallery/brand2.png'%}" alt="">
                    </div>
                    <div class="single-brand">
                        <img src="{%static './assets/img/gallery/brand5.png'%}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- Brand Area End -->
    </main>

{% endblock content %}